<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.mmall.model.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="work_type" jdbcType="VARCHAR" property="workType" />
    <result column="belongto_piano_shop" jdbcType="VARCHAR" property="belongtoPianoShop" />
    <result column="belongto_piano_shopID" jdbcType="INTEGER" property="belongtoPianoShopid" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="member_level" jdbcType="INTEGER" property="memberLevel" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remind" jdbcType="INTEGER" property="remind" />
    <result column="recharge" jdbcType="DECIMAL" property="recharge" />
    <result column="is_default_teacher" jdbcType="INTEGER" property="isDefaultTeacher" />
    <result column="game_score" jdbcType="DECIMAL" property="gameScore" />
    <result column="IDcard_picture" jdbcType="VARCHAR" property="idcardPicture" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="withdraw_balance" jdbcType="DECIMAL" property="withdrawBalance" />
    <result column="divide_money_rate" jdbcType="DECIMAL" property="divideMoneyRate" />
    <result column="divide_money_income" jdbcType="DECIMAL" property="divideMoneyIncome" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="member_time" jdbcType="TIMESTAMP" property="memberTime" />
    <result column="examine_time" jdbcType="TIMESTAMP" property="examineTime" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, teacher_id, name, work_type, belongto_piano_shop, belongto_piano_shopID, telephone, 
    member_level, state, score, income, area, address, remind, recharge, is_default_teacher, 
    game_score, IDcard_picture, balance, withdraw_balance, divide_money_rate, divide_money_income, 
    register_time, member_time, examine_time, auditor, last_login_time, work_place, head_url
  </sql>
  <select id="selectByExample" parameterType="com.mmall.model.TeacherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmall.model.TeacherExample">
    delete from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmall.model.Teacher">
    insert into teacher (id, teacher_id, name, 
      work_type, belongto_piano_shop, belongto_piano_shopID, 
      telephone, member_level, state, 
      score, income, area, 
      address, remind, recharge, 
      is_default_teacher, game_score, IDcard_picture, 
      balance, withdraw_balance, divide_money_rate, 
      divide_money_income, register_time, member_time, 
      examine_time, auditor, last_login_time, 
      work_place, head_url)
    values (#{id,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{workType,jdbcType=VARCHAR}, #{belongtoPianoShop,jdbcType=VARCHAR}, #{belongtoPianoShopid,jdbcType=INTEGER}, 
      #{telephone,jdbcType=VARCHAR}, #{memberLevel,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{score,jdbcType=DECIMAL}, #{income,jdbcType=DECIMAL}, #{area,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{remind,jdbcType=INTEGER}, #{recharge,jdbcType=DECIMAL}, 
      #{isDefaultTeacher,jdbcType=INTEGER}, #{gameScore,jdbcType=DECIMAL}, #{idcardPicture,jdbcType=VARCHAR}, 
      #{balance,jdbcType=DECIMAL}, #{withdrawBalance,jdbcType=DECIMAL}, #{divideMoneyRate,jdbcType=DECIMAL}, 
      #{divideMoneyIncome,jdbcType=DECIMAL}, #{registerTime,jdbcType=TIMESTAMP}, #{memberTime,jdbcType=TIMESTAMP}, 
      #{examineTime,jdbcType=TIMESTAMP}, #{auditor,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{workPlace,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="workType != null">
        work_type,
      </if>
      <if test="belongtoPianoShop != null">
        belongto_piano_shop,
      </if>
      <if test="belongtoPianoShopid != null">
        belongto_piano_shopID,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="memberLevel != null">
        member_level,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remind != null">
        remind,
      </if>
      <if test="recharge != null">
        recharge,
      </if>
      <if test="isDefaultTeacher != null">
        is_default_teacher,
      </if>
      <if test="gameScore != null">
        game_score,
      </if>
      <if test="idcardPicture != null">
        IDcard_picture,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="withdrawBalance != null">
        withdraw_balance,
      </if>
      <if test="divideMoneyRate != null">
        divide_money_rate,
      </if>
      <if test="divideMoneyIncome != null">
        divide_money_income,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="memberTime != null">
        member_time,
      </if>
      <if test="examineTime != null">
        examine_time,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="workPlace != null">
        work_place,
      </if>
      <if test="headUrl != null">
        head_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="workType != null">
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="belongtoPianoShop != null">
        #{belongtoPianoShop,jdbcType=VARCHAR},
      </if>
      <if test="belongtoPianoShopid != null">
        #{belongtoPianoShopid,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null">
        #{memberLevel,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="income != null">
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remind != null">
        #{remind,jdbcType=INTEGER},
      </if>
      <if test="recharge != null">
        #{recharge,jdbcType=DECIMAL},
      </if>
      <if test="isDefaultTeacher != null">
        #{isDefaultTeacher,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null">
        #{gameScore,jdbcType=DECIMAL},
      </if>
      <if test="idcardPicture != null">
        #{idcardPicture,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="withdrawBalance != null">
        #{withdrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="divideMoneyRate != null">
        #{divideMoneyRate,jdbcType=DECIMAL},
      </if>
      <if test="divideMoneyIncome != null">
        #{divideMoneyIncome,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberTime != null">
        #{memberTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null">
        #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workPlace != null">
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmall.model.TeacherExample" resultType="java.lang.Long">
    select count(*) from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teacher
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.workType != null">
        work_type = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.belongtoPianoShop != null">
        belongto_piano_shop = #{record.belongtoPianoShop,jdbcType=VARCHAR},
      </if>
      <if test="record.belongtoPianoShopid != null">
        belongto_piano_shopID = #{record.belongtoPianoShopid,jdbcType=INTEGER},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.memberLevel != null">
        member_level = #{record.memberLevel,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.income != null">
        income = #{record.income,jdbcType=DECIMAL},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.remind != null">
        remind = #{record.remind,jdbcType=INTEGER},
      </if>
      <if test="record.recharge != null">
        recharge = #{record.recharge,jdbcType=DECIMAL},
      </if>
      <if test="record.isDefaultTeacher != null">
        is_default_teacher = #{record.isDefaultTeacher,jdbcType=INTEGER},
      </if>
      <if test="record.gameScore != null">
        game_score = #{record.gameScore,jdbcType=DECIMAL},
      </if>
      <if test="record.idcardPicture != null">
        IDcard_picture = #{record.idcardPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.withdrawBalance != null">
        withdraw_balance = #{record.withdrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.divideMoneyRate != null">
        divide_money_rate = #{record.divideMoneyRate,jdbcType=DECIMAL},
      </if>
      <if test="record.divideMoneyIncome != null">
        divide_money_income = #{record.divideMoneyIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.registerTime != null">
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.memberTime != null">
        member_time = #{record.memberTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.examineTime != null">
        examine_time = #{record.examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditor != null">
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null">
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workPlace != null">
        work_place = #{record.workPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.headUrl != null">
        head_url = #{record.headUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teacher
    set id = #{record.id,jdbcType=INTEGER},
      teacher_id = #{record.teacherId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      work_type = #{record.workType,jdbcType=VARCHAR},
      belongto_piano_shop = #{record.belongtoPianoShop,jdbcType=VARCHAR},
      belongto_piano_shopID = #{record.belongtoPianoShopid,jdbcType=INTEGER},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      member_level = #{record.memberLevel,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      score = #{record.score,jdbcType=DECIMAL},
      income = #{record.income,jdbcType=DECIMAL},
      area = #{record.area,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      remind = #{record.remind,jdbcType=INTEGER},
      recharge = #{record.recharge,jdbcType=DECIMAL},
      is_default_teacher = #{record.isDefaultTeacher,jdbcType=INTEGER},
      game_score = #{record.gameScore,jdbcType=DECIMAL},
      IDcard_picture = #{record.idcardPicture,jdbcType=VARCHAR},
      balance = #{record.balance,jdbcType=DECIMAL},
      withdraw_balance = #{record.withdrawBalance,jdbcType=DECIMAL},
      divide_money_rate = #{record.divideMoneyRate,jdbcType=DECIMAL},
      divide_money_income = #{record.divideMoneyIncome,jdbcType=DECIMAL},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      member_time = #{record.memberTime,jdbcType=TIMESTAMP},
      examine_time = #{record.examineTime,jdbcType=TIMESTAMP},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      work_place = #{record.workPlace,jdbcType=VARCHAR},
      head_url = #{record.headUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.Teacher">
    update teacher
    <set>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="workType != null">
        work_type = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="belongtoPianoShop != null">
        belongto_piano_shop = #{belongtoPianoShop,jdbcType=VARCHAR},
      </if>
      <if test="belongtoPianoShopid != null">
        belongto_piano_shopID = #{belongtoPianoShopid,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null">
        member_level = #{memberLevel,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remind != null">
        remind = #{remind,jdbcType=INTEGER},
      </if>
      <if test="recharge != null">
        recharge = #{recharge,jdbcType=DECIMAL},
      </if>
      <if test="isDefaultTeacher != null">
        is_default_teacher = #{isDefaultTeacher,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null">
        game_score = #{gameScore,jdbcType=DECIMAL},
      </if>
      <if test="idcardPicture != null">
        IDcard_picture = #{idcardPicture,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="withdrawBalance != null">
        withdraw_balance = #{withdrawBalance,jdbcType=DECIMAL},
      </if>
      <if test="divideMoneyRate != null">
        divide_money_rate = #{divideMoneyRate,jdbcType=DECIMAL},
      </if>
      <if test="divideMoneyIncome != null">
        divide_money_income = #{divideMoneyIncome,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberTime != null">
        member_time = #{memberTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null">
        examine_time = #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workPlace != null">
        work_place = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.Teacher">
    update teacher
    set teacher_id = #{teacherId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      work_type = #{workType,jdbcType=VARCHAR},
      belongto_piano_shop = #{belongtoPianoShop,jdbcType=VARCHAR},
      belongto_piano_shopID = #{belongtoPianoShopid,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      member_level = #{memberLevel,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      score = #{score,jdbcType=DECIMAL},
      income = #{income,jdbcType=DECIMAL},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remind = #{remind,jdbcType=INTEGER},
      recharge = #{recharge,jdbcType=DECIMAL},
      is_default_teacher = #{isDefaultTeacher,jdbcType=INTEGER},
      game_score = #{gameScore,jdbcType=DECIMAL},
      IDcard_picture = #{idcardPicture,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      withdraw_balance = #{withdrawBalance,jdbcType=DECIMAL},
      divide_money_rate = #{divideMoneyRate,jdbcType=DECIMAL},
      divide_money_income = #{divideMoneyIncome,jdbcType=DECIMAL},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      member_time = #{memberTime,jdbcType=TIMESTAMP},
      examine_time = #{examineTime,jdbcType=TIMESTAMP},
      auditor = #{auditor,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      work_place = #{workPlace,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询全部老师-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher
    <where>
      <if test="param!=null and param!=''">
        AND id LIKE concat("%",#{param},"%") or name LIKE concat("%",#{param},"%")
      </if>
      <if test="startTime != null and startTime != ''">
        and register_time &gt; #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        and register_time &lt; #{endTime}
      </if>
    </where>
    order by register_time desc
  </select>
  <select id="selectAllByService" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from teacher
    <where>
      belongto_piano_shopID in (
      select id from piano_shop where belongto_orginazeID in (
      select id from organization where serviceProvider_id = #{uid,jdbcType=INTEGER}))
      <if test="param!=null and param!=''">
        AND id LIKE concat("%",#{param},"%") or name LIKE concat("%",#{param},"%")
      </if>
      <if test="startTime != null and startTime != ''">
        and register_time &gt; #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        and register_time &lt; #{endTime}
      </if>
    </where>
    order by register_time desc
  </select>
  <select id="selectAllByOrganizationByid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from teacher
    <where>
      belongto_piano_shopID in (
      select id from piano_shop where belongto_orginazeID = #{uid,jdbcType=INTEGER} )
      <if test="param!=null and param!=''">
        AND id LIKE concat("%",#{param},"%") or name LIKE concat("%",#{param},"%")
      </if>
      <if test="startTime != null and startTime != ''">
        and register_time &gt; #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        and register_time &lt; #{endTime}
      </if>
    </where>
    order by register_time desc
  </select>
  <select id="selectAllByPianoShop" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from teacher
    <where>
      belongto_piano_shopID = #{uid,jdbcType=INTEGER}
      <if test="param!=null and param!=''">
        AND id LIKE concat("%",#{param},"%") or name LIKE concat("%",#{param},"%")
      </if>
      <if test="startTime != null and startTime != ''">
        and register_time &gt; #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        and register_time &lt; #{endTime}
      </if>
    </where>
    order by register_time desc
  </select>
  <!--查询id最大的,新增的数据-->
  <select id="selectAllMaxId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher where id in (select MAX(id) from teacher);
  </select>
  <select id="selectAllByOrganization" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher
    where belongto_piano_shop  in (select name from piano_shop where  belongto_orginazeID = #{userId,jdbcType=INTEGER})
  </select>
  <select id="selectAllByPianoshop" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher
    where belongto_piano_shop in (select name from piano_shop where  id = #{userId,jdbcType=INTEGER})
  </select>

  <!--一对多-->
  <resultMap id="teacherStudentsMap" type="com.mmall.model.Teacher" extends="BaseResultMap">
    <collection property="students" ofType="com.mmall.model.Students">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="stundent_id" jdbcType="INTEGER" property="stundentId" />
      <result column="referee_id" jdbcType="INTEGER" property="refereeId" />
      <result column="gender" jdbcType="INTEGER" property="gender" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="parent_id" jdbcType="INTEGER" property="parentId" />
      <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
      <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
      <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
      <result column="member_level" jdbcType="INTEGER" property="memberLevel" />
      <result column="telephone" jdbcType="VARCHAR" property="telephone" />
      <result column="area" jdbcType="VARCHAR" property="area" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="remind" jdbcType="INTEGER" property="remind" />
      <result column="state" jdbcType="INTEGER" property="state" />
      <result column="score" jdbcType="INTEGER" property="score" />
      <result column="game_score" jdbcType="INTEGER" property="gameScore" />
      <result column="balance" jdbcType="INTEGER" property="balance" />
      <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
      <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
      <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    </collection>
  </resultMap>

  <select id="gettescherAndStudents" resultMap="teacherStudentsMap">
      SELECT * FROM teacher t LEFT JOIN students s ON s.`teacher_id`=t.`id` WHERE t.`id`=#{tid}
  </select>

  <!--统计老师下的学生个数-->
  <select id="SelstudentCount" resultType="java.lang.Integer">
    SELECT COUNT(*) num  FROM elec_player WHERE player_id IN (SELECT s.`id` FROM teacher t LEFT JOIN students s ON t.`teacher_id`=s.`teacher_id` WHERE s.`teacher_id`=#{teacherId})
  </select>
  <!--验证手机号是否被注册-->
  <select id="selectIsNotPhone"  resultType="java.lang.Long">
    select count(*) from teacher where telephone = #{telephone,jdbcType=VARCHAR}
  </select>
  <!--由琴行的通过申请，找到唯一老师-->
  <select id="selectAllByPianoshopTongguo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher
    where belongto_piano_shopID=#{shopId}
  </select>

</mapper>