<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.UserScoreMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.model.UserScore" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="player_id" property="playerId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="gradeNum" property="gradenum" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, player_id, nickname, gradeNum, info, num, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmall.model.UserScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_score
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_score
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmall.model.UserScoreExample" >
    delete from user_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmall.model.UserScore" >
    insert into user_score (ID, player_id, nickname, 
      gradeNum, info, num, 
      time)
    values (#{id,jdbcType=INTEGER}, #{playerId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{gradenum,jdbcType=VARCHAR}, #{info,jdbcType=INTEGER}, #{num,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.UserScore" >
    insert into user_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="playerId != null" >
        player_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="gradenum != null" >
        gradeNum,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="playerId != null" >
        #{playerId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gradenum != null" >
        #{gradenum,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmall.model.UserScoreExample" resultType="java.lang.Integer" >
    select count(*) from user_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_score
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.playerId != null" >
        player_id = #{record.playerId,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.gradenum != null" >
        gradeNum = #{record.gradenum,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=INTEGER},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_score
    set ID = #{record.id,jdbcType=INTEGER},
      player_id = #{record.playerId,jdbcType=INTEGER},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      gradeNum = #{record.gradenum,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=INTEGER},
      num = #{record.num,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.UserScore" >
    update user_score
    <set >
      <if test="playerId != null" >
        player_id = #{playerId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gradenum != null" >
        gradeNum = #{gradenum,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.UserScore" >
    update user_score
    set player_id = #{playerId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      gradeNum = #{gradenum,jdbcType=VARCHAR},
      info = #{info,jdbcType=INTEGER},
      num = #{num,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!--获取用户积分记录-->
  <select id="getUserScoreByUid" resultMap="BaseResultMap" >
    SELECT * FROM user_score WHERE player_id=#{uid} ORDER BY time DESC limit 5
  </select>
  <!--获取全部积分记录-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_score where  1=1
    <if test="param!=null and param!=''">
      and player_id=#{param}
    </if>
    <if test="startTime != null and startTime != ''">
      and time &gt; #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and time &lt; #{endTime}
    </if>
    order by time desc
  </select>

  <select id="getScoreByInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user_score
    WHERE player_id=#{uid} AND info=#{info}
    ORDER BY time DESC limit 1
  </select>
</mapper>